<h1>Comments new</h1>
<%= link_to @post.title, url_with_protocol(@post.link) %><br>

<hr>
<%= form_for(@comment, :url => post_comments_path(@post)) do |f| %>


  <br>
  <%= f.text_area :body%>

  <%#= f.hidden_field :post_id => params[:post_id] %>
  <br>
  <%= f.submit %>

<% end %>
