<h1>All Posts</h1>

<ul>
  <% @posts.each do |post| %>
  <li>
    <div>
    <%= link_to post.title, url_with_protocol(post.link) %><br>
    <%= post.username %><br>
    <%= link_to "comment", post_comments_url(post)%>
  </div>
  </li>
<% end %>

</ul>

<% if logged_in? %>
<%= link_to "Post a new link", new_post_url %>

<% end %>